<div class="modal fade modal-lg" id="editModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editModalLabel"
    data-bs-theme="dark" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-white" id="editModalLabel">Edit Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Client Id : {{clientId}}</p>
                <form [formGroup]="clientForm">
                    <div class="row mb-3">
                        <label for="fname" class="col-sm-3 col-form-label text-end mnd">First Name</label>
                        <div class="col-sm-9">
                            <input type="text" id="fname" class="form-control"
                                [ngClass]="{'is-invalid': clientForm.controls['firstName'].invalid && (clientForm.controls['firstName'].touched || clientForm.controls['firstName'].dirty)}"
                                formControlName="firstName">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="mname" class="col-sm-3 col-form-label text-end">Middle Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="" id="mname" class="form-control" formControlName="middleName"
                                [ngClass]="{'is-invalid': clientForm.controls['middleName'].invalid && (clientForm.controls['middleName'].touched || clientForm.controls['middleName'].dirty)}">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="lname" class="col-sm-3 col-form-label text-end">Last Name</label>
                        <div class="col-sm-9">
                            <input type="text" id="lname" class="form-control" formControlName="lastName"
                                [ngClass]="{'is-invalid': clientForm.controls['lastName'].invalid && (clientForm.controls['lastName'].touched || clientForm.controls['lastName'].dirty)}">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="fthername" class="col-sm-3 col-form-label text-end">Father Name</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="fatherName" class="form-control"
                                [ngClass]="{'is-invalid': clientForm.controls['fatherName'].invalid && (clientForm.controls['fatherName'].touched || clientForm.controls['fatherName'].dirty)}"
                                id="fthername">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="clprof" class="col-sm-3 col-form-label text-end mnd">Profession</label>
                        <div class="col-sm-9">
                            <select id="clprof" formControlName="business" class="form-select"
                                [ngClass]="{'is-invalid': clientForm.controls['business'].invalid && (clientForm.controls['business'].touched || clientForm.controls['business'].dirty)}">
                                <option value="">Select..</option>
                                @for (bt of businessTypes; track bt.id){
                                <option value="{{bt.id}}">{{bt.name}}</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="cldob" class="col-sm-3 col-form-label text-end">Date of Birth</label>
                        <div class="col-sm-9">
                            <input type="date" formControlName="dob" class="form-control"
                                [ngClass]="{'is-invalid': clientForm.controls['dob'].invalid && (clientForm.controls['dob'].touched || clientForm.controls['dob'].dirty)}"
                                id="cldob">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="clgen" class="col-sm-3 col-form-label text-end mnd">Gender</label>
                        <div class="col-sm-9">
                            <select id="clgen" formControlName="gender" class="form-select"
                                [ngClass]="{'is-invalid': clientForm.controls['gender'].invalid && (clientForm.controls['gender'].touched || clientForm.controls['gender'].dirty)}">
                                <option value="">Select..</option>
                                <option value="M">Male</option>
                                <option value="F">Female</option>
                                <option value="O">Other</option>
                            </select>
                        </div>
                    </div>


                    <div class="row mb-3">
                        <label for="clmob" class="col-sm-3 col-form-label text-end mnd">Mobile</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="mobile" class="form-control"
                                [ngClass]="{'is-invalid': clientForm.controls['mobile'].invalid && (clientForm.controls['mobile'].touched || clientForm.controls['mobile'].dirty)}"
                                id="clmob" placeholder="10 digits only">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="fthername" class="col-sm-3 col-form-label text-end">Aadhaar</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="aadhaar" class="form-control"
                                [ngClass]="{'is-invalid': clientForm.controls['aadhaar'].invalid && (clientForm.controls['aadhaar'].touched || clientForm.controls['aadhaar'].dirty)}"
                                id="cladhr" placeholder="12 digits only">
                            @if(isAadhaarDuplicate){
                            <small class="text-danger">Duplicate</small>
                            }
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="clemail" class="col-sm-3 col-form-label text-end mnd">Email</label>
                        <div class="col-sm-9">
                            <input type="email" formControlName="email" class="form-control"
                                [ngClass]="{'is-invalid': clientForm.controls['email'].invalid && (clientForm.controls['email'].touched || clientForm.controls['email'].dirty)}"
                                id="clemail">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="clpass" class="col-sm-3 col-form-label text-end mnd">Email's password</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="password" class="form-control"
                                [ngClass]="{'is-invalid': clientForm.controls['password'].invalid && (clientForm.controls['password'].touched || clientForm.controls['password'].dirty)}"
                                id="clpass">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="clpan" class="col-sm-3 col-form-label text-end mnd">PAN</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="pan" class="form-control"
                                [ngClass]="{'is-invalid': clientForm.controls['pan'].invalid && (clientForm.controls['pan'].touched || clientForm.controls['pan'].dirty)}"
                                id="clpan">
                            @if(isPanDuplicate){
                            <small class="text-danger">Duplicate</small>
                            }
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-9 offset-sm-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="pan-adhar-link"
                                    formControlName="panadhrLink">
                                <label class="form-check-label" for="pan-adhar-link">
                                    PAN has linked with Aadhaar ?
                                </label>
                            </div>
                        </div>


                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <h5 class="fw-bold">Address</h5>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="clstate" class="col-sm-3 col-form-label text-end mnd">State</label>
                        <div class="col-sm-9">
                            <select id="clstate" formControlName="state" class="form-select"
                                [ngClass]="{'is-invalid': clientForm.controls['state'].invalid && (clientForm.controls['state'].touched || clientForm.controls['state'].dirty)}">
                                <option value="">Select..</option>
                                @for (state of states; track state.code){
                                <option value="{{state.id}}">{{state.name}}</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="cldist" class="col-sm-3 col-form-label text-end mnd">District</label>
                        <div class="col-sm-9">
                            <select id="cldist" formControlName="dist" class="form-select"
                                [ngClass]="{'is-invalid': clientForm.controls['dist'].invalid && (clientForm.controls['dist'].touched || clientForm.controls['dist'].dirty)}">
                                <option value="">Select..</option>
                                @for (dist of districts; track dist.name){
                                <option value="{{dist.id}}">{{dist.name}}</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="clpin" class="col-sm-3 col-form-label text-end mnd">PIN</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="pin" class="form-control"
                                [ngClass]="{'is-invalid': clientForm.controls['pin'].invalid && (clientForm.controls['pin'].touched || clientForm.controls['pin'].dirty)}"
                                id="clpin">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="cladr1" class="col-sm-3 col-form-label text-end">Addr. Lane 1</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="addr1" class="form-control"
                                [ngClass]="{'is-invalid': clientForm.controls['addr1'].invalid && (clientForm.controls['addr1'].touched || clientForm.controls['addr1'].dirty)}"
                                id="cladr1">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="cladr2" class="col-sm-3 col-form-label text-end">Addr. Lane 2</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="addr2" class="form-control"
                                [ngClass]="{'is-invalid': clientForm.controls['addr2'].invalid && (clientForm.controls['addr2'].touched || clientForm.controls['addr2'].dirty)}"
                                id="cladr2">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="clpo" class="col-sm-3 col-form-label text-end">PO</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="po" class="form-control"
                                [ngClass]="{'is-invalid': clientForm.controls['po'].invalid && (clientForm.controls['po'].touched || clientForm.controls['po'].dirty)}"
                                id="clpo">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="clps" class="col-sm-3 col-form-label text-end">Police Station</label>
                        <div class="col-sm-9">
                            <input type="text" formControlName="ps" class="form-control"
                                [ngClass]="{'is-invalid': clientForm.controls['ps'].invalid && (clientForm.controls['ps'].touched || clientForm.controls['ps'].dirty)}"
                                id="clps">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <h5 class="fw-bold">Tax details</h5>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="cltyp" class="col-sm-3 col-form-label text-end mnd">Client Type</label>
                        <div class="col-sm-9">
                            <select id="cltyp" formControlName="clientType" class="form-select"
                                [ngClass]="{'is-invalid': clientForm.controls['clientType'].invalid && (clientForm.controls['clientType'].touched || clientForm.controls['clientType'].dirty)}">
                                <option value="" selected>Select Client for..</option>
                                @for(ct of clientTypes; track ct.id){
                                <option value="{{ct.id}}">{{ct.name}}</option>
                                }
                            </select>
                        </div>
                    </div>

                    @if(showITForm){
                    <section formGroupName="it">
                        <div class="row mb-3">
                            <label for="clittype" class="col-sm-3 col-form-label text-end mnd">IT Type</label>
                            <div class="col-sm-9">
                                <select id="clittype" formControlName="itType" class="form-select"
                                    [ngClass]="{'is-invalid': clientForm.get('it.itType')!.invalid && (clientForm.get('it.itType')!.touched || clientForm.get('it.itType')!.dirty)}">
                                    <option value="" selected>Choose ..</option>
                                    <option value="A">Audit</option>
                                    <option value="N">Non Audit</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="clitpass" class="col-sm-3 col-form-label text-end">IT Password</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="itPassword" class="form-control"
                                    [ngClass]="{'is-invalid': clientForm.get('it.itPassword')!.invalid && (clientForm.get('it.itPassword')!.touched || clientForm.get('it.itPassword')!.dirty)}"
                                    id="clitpass">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="clitfile" class="col-sm-3 col-form-label text-end">IT File No.</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="itFileNo" class="form-control"
                                    [ngClass]="{'is-invalid': clientForm.get('it.itFileNo')!.invalid && (clientForm.get('it.itFileNo')!.touched || clientForm.get('it.itFileNo')!.dirty)}"
                                    id="clitfile">
                            </div>
                        </div>
                    </section>
                    }

                    @if(showGSTForm){
                    <section formGroupName="gst">
                        <div class="row mb-3">
                            <label for="clgsttype" class="col-sm-3 col-form-label text-end mnd">GST Type</label>
                            <div class="col-sm-9">
                                <select id="clgsttype" formControlName="gstType" class="form-select"
                                    [ngClass]="{'is-invalid': clientForm.get('gst.gstType')!.invalid && (clientForm.get('gst.gstType')!.touched || clientForm.get('gst.gstType')!.dirty)}">
                                    <option value="" selected>Select..</option>
                                    <option value="Regular">Regular</option>
                                    <option value="Composition">Composition</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="clgstaudit" class="col-sm-3 col-form-label text-end mnd">Audit Type</label>
                            <div class="col-sm-9">
                                <select id="clgstaudit" formControlName="auditable" class="form-select">
                                    <option value="" selected>Select..</option>
                                    <option value="A">Audit</option>
                                    <option value="N">Non Audi</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="gstno" class="col-sm-3 col-form-label text-end mnd">GST No.</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="gstNumber" class="form-control"
                                    [ngClass]="{'is-invalid': clientForm.get('gst.gstNumber')!.invalid && (clientForm.get('gst.gstNumber')!.touched || clientForm.get('gst.gstNumber')!.dirty)}"
                                    id="gstno">
                                @if(isGstNoDuplicate){
                                <small class="text-danger">Duplicate</small>
                                }
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="clgstdate" class="col-sm-3 col-form-label text-end mnd">GST Reg. Date</label>
                            <div class="col-sm-9">
                                <input type="date" formControlName="gstregDate" class="form-control"
                                    [ngClass]="{'is-invalid': clientForm.get('gst.gstregDate')!.invalid && (clientForm.get('gst.gstregDate')!.touched || clientForm.get('gst.gstregDate')!.dirty)}"
                                    id="clgstdate">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="clgstusename" class="col-sm-3 col-form-label text-end mnd">GST Username</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="gstUserName" class="form-control"
                                    [ngClass]="{'is-invalid': clientForm.get('gst.gstUserName')!.invalid && (clientForm.get('gst.gstUserName')!.touched || clientForm.get('gst.gstUserName')!.dirty)}"
                                    id="clgstusename">
                                @if(isGstUserNameDuplicate){
                                <small class="text-danger">Duplicate</small>
                                }
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="clgstpass" class="col-sm-3 col-form-label text-end mnd">GST Password</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="gstPassword" class="form-control"
                                    [ngClass]="{'is-invalid': clientForm.get('gst.gstPassword')!.invalid && (clientForm.get('gst.gstPassword')!.touched || clientForm.get('gst.gstPassword')!.dirty)}"
                                    id="clgstpass">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="clgstfile" class="col-sm-3 col-form-label text-end">GST File No.</label>
                            <div class="col-sm-9">
                                <input type="text" formControlName="gstFileNo" class="form-control"
                                    [ngClass]="{'is-invalid': clientForm.get('gst.gstFileNo')!.invalid && (clientForm.get('gst.gstFileNo')!.touched || clientForm.get('gst.gstFileNo')!.dirty)}"
                                    id="clgstfile">
                            </div>
                        </div>

                    </section>
                    }
                    <button type="button" class="btn btn-primary" (click)="onSubmit()">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>