@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap");
* {
  font-family: "Saira Semi Condensed", sans-serif;
  transition: all 0.5s ease;
}

.form-input label, [placeholder] {
    color: #555;
  }

  .form-input:focus-within label {
    color: #000;
    letter-spacing: 2px;
  }
  

.form-input input, .form-input select{
    width: 100%;
    border: none;
    box-shadow: 0 8px 6px -6px #727272;
    padding: 5px;
    text-transform: uppercase;
    border-radius: 4px;
}
#clemail, #clpass, #clitpass, #clgstusename, #clgstpass{
    text-transform: none;
}
.form-input input:focus, .form-input select:focus{
    outline: none;
}

.form-input:focus-within input, .form-input:focus-within select {
    box-shadow: 0 8px 6px -7px #4d64f9;
    background-color: #ffe54c;
  }

  .is-invalid{
    background-color: #fba097;
  }

  .mnd::after{
    content: "*";
    color: red;
  }

  .button-52 {
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
  }
  .button-52:hover{
    letter-spacing: 3px;
    font-size: 18px;
  }
  
  .button-52:after {
    content: "";
    background-color: #ffe54c;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .button-52:hover:after {
    top: 0px;
    left: 0px;
  }

  .button-52:disabled:hover:after {
    top: 7px;
    left: 7px;
  }
  
  @media (min-width: 768px) {
    .button-52 {
      padding: 13px 50px 13px;
    }
  }